@media (width >= 720px) {
  .cities {
    &.citiesPage {
      max-width: 700px;
      margin: 20px auto;
      width: calc(100% - 40px);
      height: calc(100dvh - 40px);
      min-height: calc(100dvh - 40px);
      border: 3px solid rgba(var(--accent-color-2), 1);
      border-radius: 40px;
      background-color: rgba(var(--accent-color-1), 0.1);
      box-shadow: 0 10px 50px 0 rgba(0 0 0 / 0.15);
      overflow: visible;
    }
  }
}

@media (width < 720px) {
  body:has(.citiesPage) {
    overflow-x: unset;

    #root {
      display: contents;
    }
  }

  .cities {
    &.citiesPage {
      height: auto;
      min-height: 100dvh;
      overflow: visible;

      .citiesHeader {
        height: 60px;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 10;
        backdrop-filter: blur(20px);
      }

      html[data-color-mode="night"] {
        background:
            url("../assets/bg--noise-1.png") center,
            linear-gradient(90deg, #992ecf 0%, #003e98 100%);
      }

      .citiesListBox {
        flex: 0 0 auto;
        overflow: visible;
        margin-bottom: auto;
      }

      .timeRuler {
        position: sticky;
        left: 0;
        bottom: 0;
        backdrop-filter: blur(20px);
        z-index: 10;
      }
    }
  }
}
