.header {
  border-top: 10px solid rgba(0 0 0 / 0.1);
}

.container_header {
  display: flex;
  align-items: center;
  height: 144px;
}

.logo {
  display: block;
  height: 62px;
  color: #fff;
  text-decoration: none;
  padding-left: 58px;
  position: relative;
  margin-left: 29px;
  margin-bottom: 6px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 62px;
    background: url("../../assets/logo-1.svg") center no-repeat;
  }
}

.logo-name {
  font-size: 52px;
  line-height: 1;
  display: block;
  margin-top: -5px;
}

.logo-pitch {
  font-size: 15px;
  line-height: 1;
  display: block;
  padding-left: 3px;
}

.headerMenu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  margin-right: 29px;
}

.headerMenu-item {
  display: block;
  padding: 6px 16px 7px 16px;
  min-width: 36px;
  height: 36px;
  margin: 0;
  color: #fff;
  border: 1px solid transparent;
  background-color: rgba(var(--accent-color-1), 0.3);
  border-radius: 65536px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, translate 0.2s ease;

  &:hover {
    background-color: rgba(var(--accent-color-1), 0.5);
  }

  &:active {
    translate: 0 2px;
  }
}

.headerMenu-item_link {
  min-width: 75px;
  text-align: center;
}

.headerMenu-item_thanks {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 13px;
  text-align: center;
  color: rgba(var(--color-danger-1), 1);

  &:before {
    content: '';
    display: block;
    width: 14px;
    min-width: 14px;
    height: 12px;
    background-color: rgba(var(--color-danger-1), 1);
    mask: url("../../assets/icon--heart-1.svg");
    margin-left: -4px;
  }
}

.headerMenu-item_ampm {
  min-width: 85px;
}

.headerMenu-item_nightMode {
  width: 36px;
  height: 36px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    mask: url("../../assets/icon--mode-night.svg");
  }

  &.isActive {
    &:before {
      mask: url("../../assets/icon--mode-day.svg");
    }
  }
}

.headerMenu-separator {
  display: block;
  height: 6px;
  width: 6px;
  background-color: rgba(var(--accent-color-1), 0.3);
  border-radius: 50%;
  margin: 0 10px;

  .headerMenu-separator_1 {}

  .headerMenu-separator_2 {}
}



.langSelectButtonBox {
  position: relative;
  z-index: 100;
}

.langSelectButton {
  padding-right: 35px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: 14px;
    width: 12px;
    height: 7px;
    background-color: #fff;
    mask: url("../../assets/icon--arrow-1.svg");
  }
}

.langSelectButton-shortName {
  display: inline;
}

.langSelectMenu {
  background-color: rgba(var(--accent-color-1), 0.95);
  border-radius: 16px;
  min-width: 120px;
  min-height: 100px;
  position: absolute;
  top: 100%;
  right: 0;
  color: #fff;
  padding: 4px 4px;
  opacity: 1;
  transition: opacity 0.3s ease;

  @starting-style {
    opacity: 0;
  }
}

.langSelectMenu-button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 12px;
  background-color: transparent;
  border: none;
  border-radius: 13px;
  color: #fff;
  cursor: pointer;
  font: normal normal 16px/1 var(--body-font-family-1);
  text-decoration: none;

  &:hover {
    background-color: rgba(0 0 0 / 0.8);
  }
}

@media screen and (width < 1200px) {
  .container_header {
    height: 110px;
  }
}

@media screen and (width < 1024px) {
  .container {
    &.container_header {
      height: auto;
      flex-direction: column;
      gap: 24px;
      padding-block: 15px;
    }
  }

  .logo {
    margin: 0 10px 0 0;
  }

  .headerMenu {
    margin: 0;
  }

  .headerMenu-item_link {
    min-width: 105px;
  }
}

@media screen and (width < 768px) {
  .container {
    &.container_header {
      height: auto;
      flex-direction: column;
      gap: 24px;
      padding-block: 15px;
    }
  }

  .headerMenu {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0 20px;
  }

  .headerMenu-item {
    padding-inline: 14px;
    margin-bottom: 15px;
  }

  .headerMenu-item_link {
    order: 2;
  }

  .headerMenu-separator {
    width: 100%;
    height: 1px;
    border-radius: 2px;
    margin-bottom: 15px;
    order: 1;
  }

  .headerMenu-separator_1 {}

  .headerMenu-separator_2 {
    display: none;
  }

  .headerMenu-item_thanks {
    justify-content: center;
    width: calc(100% - 50px);
    max-width: 375px;
    margin-bottom: 0;
    order: 4;
  }

  .headerMenu-item_ampm {
    min-width: unset;
  }

  .headerMenu-item_nightMode {
    padding: 0;
  }

  .langSelectButton {
    padding-right: 30px;
  }

}
