.featuresList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 45px;
}

.featuresList-item {
  background: #fff;
  border-radius: 50px 30px 50px 30px;
  min-height: 240px;
  width: 360px;
  padding: 28px 30px 27px 30px;
}

.featuresList-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.featuresList-headerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--accent-color-1), 1);
  margin-right: 13px;

  &:before {
    content: '';
    display: block;
  }
}

.featuresList-headerIcon_notifications {
  &:before {
    width: 20px;
    height: 20px;
    background-color: rgba(var(--accent-color-1), 1);
    mask: url("../../assets/icon--bell-1.svg");
  }
}

.featuresList-headerIcon_calendar {
  &:before {
    width: 22px;
    height: 22px;
    background-color: rgba(var(--accent-color-1), 1);
    mask: url("../../assets/icon--calendar-1.svg");
  }
}

.featuresList-headerIcon_countdowns {
  &:before {
    width: 24px;
    height: 24px;
    background-color: rgba(var(--accent-color-1), 1);
    mask: url("../../assets/icon--clock-1.svg");
  }
}

.featuresList-title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--body-text-color-1);
  margin: 0;
}

.featuresList-content {
  &:has(.featuresList-comingSoon) {
    position: relative;

    .featuresList-para {
      pointer-events: none;
      user-select: none;
      filter: blur(3px);
      opacity: 0.2;
    }
  }
}

.featuresList-comingSoon {
  color: var(--body-text-color-1);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  display: block;
  text-align: center;
  align-content: center;
}

.featuresList-para {
  font-size: 16px;
  line-height: 1.25;
  margin: 0 0 10px 0;
  color: var(--body-text-color-1);

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (width < 1200px) {
  .featuresList {
    gap: 20px 15px;
  }

  .featuresList-item {
    width: unset;
    flex: 1 1 0;
  }
}

@media screen and (width < 1024px) {
  .featuresList {
    flex-direction: column;
    align-items: center;
  }

  .featuresList-item {
    width: 100%;
    max-width: 450px;
    flex: unset;
  }
}
